
<%= link_to 'New Log', new_log_path %>

    <% @logs.each do |log| %>
      <p>
        <%= log.created_at.strftime('%b %e, %l:%M %p') %><br>
        <b><%= log.systolic %> / <%= log.diastolic %></b>
      </p>
    <% end %>
<br>
