<!DOCTYPE html>
<html>
  <head>
    <title>BpLog</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container">
        <h1 style="color: #D93E3E">bp log</h1>
      </div>
    </header>

    <div class="container">
      <p>some content</p>
      <%= yield %>
    </div>

  </body>
</html>
